appdirs==1.4.4
beautifulsoup4==4.10.0
cachetools==4.2.3
certifi==2021.10.8
click==8.0.3
cvlib==0.3.2
filelock==3.0.12
Flask==2.1.1
gTTS==2.2.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-auth-plugin-requests-oauth2==1.1.1
google-pasta==0.2.0
google-cloud-storage==1.60.0
googleapis-common-protos==1.56.0
grpcio==1.44.0
h5py==3.6.0
httplib2==0.20.2
idna==3.3
imageai==2.1.5
imutils==0.5.4
joblib==1.1.0
Keras==2.6.0
Keras-Preprocessing==1.1.0
kiwisolver==1.3.2
matplotlib==3.5.1
networkx==2.6.3
numpy==1.21.5
oauth2client==4.1.3
opencv-python==4.5.5.62
opt-einsum==3.3.0
pandas==1.3.5
Pillow==9.1.0
protobuf==3.19.3
psutil==5.9.0
pycocotools==2.0.3
PyGObject==3.42.0
PyYAML==6.0
regex==2021.10.8
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-image==0.18.3
scikit-learn==1.0.2
scipy==1.7.3
sentencepiece==0.1.96
setuptools==60.13.0
six==1.16.0
sklearn==0.0
termcolor==1.1.0
texttable==1.6.5
torch==1.10.2
torchvision==0.11.3
tqdm==4.63.2
typing-extensions==4.0.1
ultralytics-yolo==3.1.1
urllib3==1.26.9
virtualenv==20.13.1
wget==3.2
wrapt==1.12.1
yarl==1.7.2
yolov5==6.1.1
yolov5-detect==1.1.1
zipp==3.6.0