body {
    margin: 0;
	font-family: 'Abel', sans-serif;
}


header {
    background-color: #edc9af;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.desktop-nav {
  display: inline;


}

.desktop-nav a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 20px;
}

.desktop-nav a:hover {
 color: brown;
}


/* mobile */
.overlay-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color:#edc9af;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2; /* Place the mobile navigation above other content */
}

.close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.overlay-nav a {
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.menu{
    margin-top: 10%;
    text-align: center;
    }

.overlay-nav a:hover {
    color:brown;
}

.mobile-nav-icon {
    display: none; /* hide on desktop */
    cursor: pointer;
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
    .desktop-nav {
        display: none; /* hide on mobile */
    }

    .mobile-nav-icon {
        display: block; /* show on mobile */
    }

    body {
        overflow-x: hidden; /* prevent double scrollbars */
    }

    .overlay-nav {
        padding-top: 15px;
    }

    .overlay-nav a {
        font-size: 18px;
    }
}

body.mobile-nav-active .desktop-nav {
    display: none;
}

body.mobile-nav-active {
    overflow-x: hidden;
}