<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Cat In Heat Detector Thesis 2023</title>
    <link rel="stylesheet" href="/static/nocatd.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-----JavaScript for Toggle menu------->

</head>
<body>
    <header>
        <div class="logo">
            <!-- logo  -->
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='image/Logo.png') }}" alt="Logo"></a>
        </div>
        <nav class="desktop-nav">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about_us') }}">About us</a>
            <a href="{{ url_for('helps') }}">Help</a>
            <a href="{{ url_for('acknowledgement') }}">Acknowledgement</a>
        </nav>
        <div class="mobile-nav-icon" onclick="toggleMobileNav()">
            <!-- Mobile navigation icon hamburger icon -->
            ☰
        </div>
    </header>
    <div class="overlay-nav">
        <a href="javascript:void(0)" class="close-btn" onclick="toggleMobileNav()">
            &times; <!-- close symbol -->
        </a>
        <div class="menu">
            <!-- mobile navigation items  -->
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about_us') }}">About us</a>
            <a href="{{ url_for('helps') }}">Help</a>
            <a href="{{ url_for('acknowledgement') }}">Acknowledgement</a>
        </div>
    </div>


    <main>
        <div>
            <div class="gifs">

                
            <script class="gif" src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
            <dotlottie-player src="https://lottie.host/edccc3de-f07a-4e69-8e71-f332c153a9f8/nhLOEdObU0.json" background="transparent" speed="1" style="width: 400px; height: 400px; margin: 40%;" loop autoplay></dotlottie-player>
                        
            <div class="holder-desc">
                <h1>Error!...</h1>
                <p>Cat is not detected.</p>
            <div class="button">
                <a class="buttons" href="{{ url_for('index') }}" class="return-home">Try Again</a>
            </div>
        </div>
        </div>

    </main>



<script src="{{ url_for('static', filename='menu.js') }}"></script>
</body>
</html>

