<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Cat In Heat Detector Thesis 2023</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-----JavaScript for Toggle menu------->

</head>
<body>
        <header>
            <div class="logo">
                <!-- logo  -->
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='image/Logo.png') }}" alt="Logo"></a>
            </div>
            <nav class="desktop-nav">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('about_us') }}">About us</a>
                <a href="{{ url_for('helps') }}">Help</a>
                <a href="{{ url_for('acknowledgement') }}">Acknowledgement</a>
            </nav>

            <div class="mobile-nav-icon" onclick="toggleMobileNav()">
                <!-- Mobile navigation icon hamburger icon -->
                ☰
            </div>
        </header>
        <div class="overlay-nav">
            <a href="javascript:void(0)" class="close-btn" onclick="toggleMobileNav()">
                &times; <!-- close symbol -->
            </a>
            <div class="menu">
            <!-- mobile navigation items  -->
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about_us') }}">About us</a>
            <a href="{{ url_for('helps') }}">Help</a>
            <a href="{{ url_for('acknowledgement') }}">Acknowledgement</a>
        </div>
        </div>
    
    <main>
        <div class="text-box">
            <h1>Female Cat Estrus Stage Detector</h1><br>
            
            <b><a href="{{ url_for('upload') }}"class="hero-btn">Upload Your Video Here!</a></b>

            <!-- cat gifs -->
            <div class="catContainer">

                <img class="catImage"  src="{{ url_for('static', filename='image/cat2.gif') }}" alt="Cat GIF">

            </div>

        </div>


    </main>

        <!-- Javascript  for cat gifs   -->
    <script>
        function moveImages() {
            var catImages = document.querySelectorAll('.catImage');
            var screenWidth = window.innerWidth;

            catImages.forEach(function (catImage) {
                var position = parseInt(catImage.style.left) || 0;

                if (position < screenWidth) {
                    position += 3; // Adjust the speed of movement
                } else {
                    position = -catImage.width; // Reset position to the left side
                }

                catImage.style.left = position + "px";
            });

            requestAnimationFrame(moveImages);
        }

        // Initial setup
        var catImages = document.querySelectorAll('.catImage');
        var initialPosition = 0;

        catImages.forEach(function (catImage) {
            catImage.style.left = initialPosition + "px"; // Set initial position for each cat image
            initialPosition += 150; // Adjust the spacing between cats
        });

        moveImages(); // Start the animation
    </script>


    <!-- javascript connect-->
   <script src="{{ url_for('static', filename='menu.js') }}"></script>
</body>

</html>